<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="eleccionestext">
        <p>En las próximas elecciones nacionales, a desarrollarse los días 13 de agosto (P.A.S.O) y 22 de octubre (Generales) y eventual segunda vuelta 19 de noviembre, las argentinas y los argentinos elegiremos:</p>
        <ul>
            <li>Presidente/a y vicepresidente/a</li>
            <li>19 parlamentarios y parlamentarias del Mercosur por distrito nacional</li>
            <li>24 parlamentarios y parlamentarias del Mercosur por distrito regional</li>
            <li>130 diputados y diputadas nacionales en todo el país</li>
            <li>24 senadores y senadoras nacionales en 8 provincias.</li>
        </ul>
    </div>
</body>
</html>